<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/improve/base.css" />
    <title>Improve Yourself</title>
</head>
<body>
<div class="navbar">
    <a href="{% url 'edit_user' %}">Settings</a> |
    <a href="{% url 'condition_types' %}">Create Metric</a> |
    <a href="{% url 'condition' %}">Add update</a>
		{% if not user.is_anonymous %}
			| <a href="{% url 'improve_logout' %}">Logout</a>
		{% endif %}
</div>

{% block content %}
Whatup
{% endblock %}
</body>
</html>
